<html>
	<head>
		<title>Login and register</title>
	</head>
    <body class='index_body'>
      <div class='shade'>
        <div class="row mt-5">
          <div class="col-3"></div>
          <div class="col-6 login_Body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <h1 class="alert-info btn-sm mb-5 text-center">CREATE ACCOUNT HERE</h1>
             
              <div class="row">
                <%= f.label :email,:class=>'col-sm-3 col-form-label text-right form_lable' %><br />
                <div class='col-sm-9'>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",:class=>'form-control mb-3' %>
                </div>
              </div>

              <div class="row">
                <%= f.label :password,:class=>'col-sm-3 col-form-label text-right form_lable' %>
                
                <div class='col-sm-9'>
                  <%= f.password_field :password, autofocus: true, autocomplete: "new-password",:class=>'form-control' %>
                  <% if @minimum_password_length %>
                <em class='alert-danger'>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                </div>
              </div>

              <div class="row">
                <%= f.label :password_confirmation,:class=>'col-sm-3 col-form-label text-right form_lable' %><br />
                <div class='col-sm-9'>
                  <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password",:class=>'form-control mt-3 mb-3' %>
                  <%= f.submit "Sign up",:class=>'btn btn-warning form-control' %>
                  </div>
              </div>
            
              <div class='mt-5'> 
                <%= render "devise/shared/links" %>
              </div>

            <% end %>
          </div>
          <div class="col-3"></div>
        </div>
      </div>  
	</body>
</html>
