<div class='container mt-5'>
  <div class="alert alert-secondary"><strong> NEW ARTICLE </strong></div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <%= form_for :article, url: articles_path do |form| %>
        <% if @article.errors.any? %>
          <% @article.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
          <% end %>
        <% end %>
        <p>
          <%= form.label :title %>
          <%= form.text_field(:title, {:class => "form-control"}) %>
        </p>
      
        <p>
          <%= form.label :text %>
          <%= form.text_area(:text, {:class => "form-control"}) %>
        </p>
      
        <p>
          <%= form.label :images %>
          <%= form.file_field(:images, multiple: true, :id=>'fileupload', :class => "form-control") %>
          <div id="dvPreview" class='container shadow-lg rounded'>
          </div>
        </p>

        <p>
          <%= form.submit({:class => "btn btn-success"}) %>
        </p>
        
      <% end %>
    </div>
    <div class="col-3"></div>
  </div>


  <%= link_to 'Back', articles_path, :class => 'btn btn-danger' %>
</div>

<script>
$(function () {
  $("#fileupload").change(function () {
    if (typeof (FileReader) != "undefined") {
      var dvPreview = $("#dvPreview");
      dvPreview.html("");
      var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
      $($(this)[0].files).each(function () {
        var file = $(this);
        if (regex.test(file[0].name.toLowerCase())) {
          var reader = new FileReader();
          reader.onload = function (e) {
            var img = $("<img />");
            img.attr("style", "height:100px;width: 100px");
            img.attr("src", e.target.result);
            dvPreview.append(img);
          }
          reader.readAsDataURL(file[0]);
        } 
        else {
          alert(file[0].name + " is not a valid image file.");
          dvPreview.html("");
          return false;
        }
      });
    } else {
      alert("This browser does not support HTML5 FileReader.");
    }
  });
});
</script>