<html>
	<body class='index_body' id='index_body'>
		<div class='shade pt-5'>
			<div class="accordion" id="accordionExample">
				<% @users.each do |user| %>
					<div class='row alert alert-warning mb-0 mt-4 users'>
						<b class='col' data-toggle="collapse" data-target="#articles" aria-expanded="true" aria-controls="collapseOne"><%= user.email %></b>
						<b class='col'><%= user.username %></b>
						<b class='col'><%=user.roles.last.name %></b>
						<%= link_to 'View', manage_user_path(user), :class => 'btn btn-sm btn-outline-info'%>
					</div>
					<% @articles.each do |article| %>
						<%if article.User_id==user.id%>
							<ul class="list-group articles collapse" id="articles" >
								<li class="list-group-item list-group-item-primary"><%= link_to article.title, article_path(article)%></li>
							</ul> 
						<%end%>
					<%end%>
				<% end %>
			</div>	
		</div>
	</body>
</html>
