<html>
  <head>
    <title>Login and register</title>
  </head>
    <body class='index_body'>
      <div class='shade'>
        <div class="row mt-5">
          <div class="col-3"></div>
          <div class="col-6 login_Body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <h1 class="alert-info btn-sm mb-5 text-center">LOGIN HERE</h1>

              <div class="row">
                <%= f.label :email,:class=>'col-sm-3 col-form-label text-right form_lable' %><br />
                <div class='col-sm-9'>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email",:class=>'form-control mb-3' %>
                </div>
              </div>

              <div class="row">
                <%= f.label :password,:class=>'col-sm-3 col-form-label text-right form_lable' %>
                <div class='col-sm-9'>
                  <%= f.password_field :password, autofocus: true, autocomplete: "new-password",:class=>'form-control mb-3' %>
                  <% if devise_mapping.rememberable? %>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end %>
                  <%= f.submit "Log in",:class=>'btn btn-warning form-control mt-2' %>
                </div>
              </div>

              <div class='mt-4'> 
                <%= render "devise/shared/links" %>
              </div>

            <% end %>
          </div>
          <div class="col-3"></div>
        </div>
      </div>  
  </body>
</html>
