<html>
    <body class='index_body'>
        <div class='shade pt-5 pb-5'>

        <%= link_to 'Click here to view All posts', posts_path,:class=>"btn btn-secondary" %>
        <hr>
        <div class='row container login_Body mb-3'>
            <div class='col-4'>
                <h1 class='text-light'><%= @post.title %></h1>
                <p class='text-light'><%= @post.body %></p>
                <div class='bg-warning mt-5 p-2 font-weight-bold'>
                    <!-- <p class='text-light'>name : <%= @post.image.path%></p> -->
                    <p class='text-light'>Path : <%= @post.image.path%></p>
                    <p>Size in bytes : <%= @post.image.size%> bytes</p>
                </div>

            </div>
            <div class='col-6'>
                <%= link_to(image_tag(@post.image.thumb.url, alt: 'Image'), @post.image.url, target: '_blank') if @post.image? %>
                <p class='text-white'>To see the full image click on the above image</p>
            </div>
            <div class='col-2'>
                <% if can? :update, @post %>
                    <p><%= link_to 'Edit', edit_post_path(@post),:class=>'btn btn-warning' %></p>
                <%end%>
                <% if can? :delete, @post %>
                    <%= link_to "Delete", post_path(@post), :class => 'btn btn-danger',
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' }%>
                <%end%>            
            </div>
          </div>     
        </div>
    </body>
</html>




